<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/339105348612784128/386783772034596876/ultimate_vc_injector.ico">
   <title>Ultimate WiiU VC Injector | C#-Injectors</title>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Ultimate WiiU VC Injector</h1>
      <h2 class="project-tagline">Tools to inject your favourite retro games into WiiU VC</h2>
    </section>

    <section class="main-content">
      {{ content }}
  </body>
</html>
