<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="icon" href="https://cdn.discordapp.com/attachments/339105348612784128/386783772034596876/ultimate_vc_injector.ico">
   <title>Ultimate WiiU VC Injector</title>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Ultimate WiiU VC Injector</h1>
      <h2 class="project-tagline">Tools to inject your favourite retro games into WiiU VC</h2>
      <div id="download" class="btn-group" role="group" aria-label="Download">
        <a class="btn btn-danger" href="http://wiiu-injector.me"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> Home</a>
        <a class="btn btn-danger" href="http://wiiu-injector.me"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> C#-Injectors</a>
        <a class="btn btn-danger" href="http://wiiu-injector.me"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> Batch-Injectors</a>
        <a class="btn btn-danger" href="http://wiiu-injector.me"><span class="glyphicon glyphicon-google" aria-hidden="true"></span> Java-Injectors</a>
    </section>

    <section class="main-content">
      <h2 id="welcome">Welcome!</h2>
    <div style="position:absolute; right:500px; top:200px">
      <iframe src="https://discordapp.com/widget?id=386898225161961493&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
      <p>This site is still under construction. You’ll find general information about the C#/Batch/Java Injectors here.</p>
    </div>
  </body>
</html>
